runpod
torch==2.1.0
torchvision==0.16.0
torchaudio==2.1.0
diffusers==0.24.0
transformers==4.39.3
huggingface_hub==0.20.3
accelerate==0.25.0
safetensors==0.4.1
pillow==10.1.0
einops==0.7.0
timm==0.9.12
opencv-python==4.10.0.84
sentencepiece==0.1.99
ip_adapter==0.1.0
